.Quotes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(https://cdn.dribbble.com/users/337193/screenshots/2156631/futurama.png);

  li {
    display: flex;
    width: 20vw;
    margin: 2em;
    padding: 2rem;
    justify-content: center;
    border: 5px outset rgb(255, 0, 0);
    background-color: rgb(157, 252, 187);
    
    text-align: center;

    list-style-type: none;
  }

  section {
    margin: auto;
  }

  img {
    width: 10rem;
    margin: auto;
  }

}
